<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why do I have Insomnia</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. A reprehenderit quam id, labore, fuga inventore obcaecati possimus numquam aspernatur sequi ea esse nostrum! Libero iusto ipsam asperiores natus quaerat velit!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, dicta animi. Earum voluptatum amet repellat similique sequi libero fuga, debitis fugiat pariatur ullam aperiam provident vero suscipit. At, distinctio alias!</p>
    <a href="localhost:8080/about-us">About us</a>
    <select type=text>
        <option>hahaha</option>
    </select>
</body>
</html>